node_modules
node_modules/
dist
dist/
.env
.env.local
.env.*.local
.DS_Store
.vscode
.idea
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
coverage
coverage/
.cache
.next
out
/build
/build/
*.log
*.tsbuildinfo
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig

